h1{
  color: white;
}

body{
    font-family: "Fredoka", cursive;
    text-align: center;
    padding: 20px;
    background-color: red;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: crimson;
}

.contientCercle{
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.panel{
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-color: black;
  border-width: 10px;
  font-size: 100%;
  
}

p{
  margin: 10px;
  color: white;
}

.timer{
  font-size: 500%;
}

button{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: transparent;
}

@media screen and (max-width: 1024px) {
    .panel {
      font-size: 150%;
    }
    .circle{
      width: 300px;
      height: 300px;
    }

  }
  
  @media screen and (max-width: 768px) {
    .panel {
      font-size: 200%;
    }
    .circle{
      width: 200px;
      height: 200px;
    }
    h1{
      size: 300%;
    }
  }